@model Práctica8EjerciciosDeAccesoADatos.Models.Alquilere

@{
    ViewData["Title"] = "Editar Alquiler";
}

<h1>Editar Alquiler</h1>

<form asp-action="Edit">
    <div class="form-group">
        <input type="hidden" asp-for="Id" />
    </div>
    <div class="form-group">
        <label asp-for="IdCliente">Cliente:</label>
        <input asp-for="IdCliente" class="form-control" disabled />
    </div>
    <div class="form-group">
        <label asp-for="IdCopia">Copia:</label>
        <input asp-for="IdCopia" class="form-control" disabled />
    </div>
    <div class="form-group">
        <label asp-for="FechaAlquiler">Fecha de Alquiler:</label>
        <input asp-for="FechaAlquiler" class="form-control" disabled />
    </div>
    <div class="form-group">
        <label asp-for="FechaTope">Fecha Tope:</label>
        <input asp-for="FechaTope" class="form-control" disabled />
    </div>
    <div class="form-group">
        <label asp-for="FechaEntregada">Fecha Entregada:</label>
        <input asp-for="FechaEntregada" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Guardar Cambios</button>
</form>
