@model IEnumerable<ObligatorioProg3.Models.Clima>

@{
    ViewData["Title"] = "Climas";
}

<h1>Climas</h1>

<form asp-controller="Climas" asp-action="GetClima" method="post">
    <div class="form-group">
        <label for="city">City</label>
        <input type="text" class="form-control" id="city" name="city" required />
    </div>
    <button type="submit" class="btn btn-primary">Get Clima</button>
</form>

<table class="table">
    <thead>
        <tr>
            <th>Fecha</th>
            <th>Temperatura</th>
            <th>Descripción Clima</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var clima in Model)
        {
            <tr>
                <td>@clima.Fecha</td>
                <td>@clima.Temperatura</td>
                <td>@clima.DescripcionClima</td>
            </tr>
        }
    </tbody>
</table>


